// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.bar-footer {
    background: $light-grey;
    width: 100%;
    height: 0.5rem;
}