// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.bar-header {
    background: $light-grey;
    width: 100%;
    height: 2.5rem;
    display: flex;

    .bar-menu-sync {
        background: $brand-color;
        width: 15rem;
        height: 2.5rem;
        cursor: pointer;
    }
}